body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #FFF;
    background: #000;
    margin: 0;
}

html {
    font-size: 18px;
}

.pure-g {
    padding: .5em 0;
}

.l-box {
    padding: 1em;
}

header {
    position: relative;
    background: #2064a5;
    color: #fff;
    padding: 1em;
    font-size: 2rem;
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.float-left {
    float: left;
}

.temp {
    font-size: 5rem;
}

.feel-temp {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
}

.min-max-temp {
    clear: both;
}

.w-icon::before {
    font-size: 5rem;
}

.wd-icon::before {
    font-size: 3rem;
}

.w-text {
    font-size: 1.2rem;
}

.min-max-temp span {
    padding-left: 10px;
    font-size: .9rem;
}

.min-max-temp span::before {
    padding-right: 5px;
    color: #999;
}

span.active-temp::before {
    color: #FFF;
}

.location {
    font-size: 2rem;
    line-height: 40px;
}

.time {
    font-size: 1.25rem;
    color: #CCC;
}

.icon::before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.footer {
    width: 100%;
    padding: 15px 0;
    height: 120px;
}

.footer-container {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}

.day-cell {
    width: 55px;
    padding: 0 15px;
    float: left;
    text-align: center;
    line-height: 25px;
}

.day-cell .min-max-temp span {
    padding-left: 0px;
}

.day-cell .date {
    font-size: .8rem;
    color: #999;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }
    .footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}